[Unit]
Description=Service for controlling HPE Fan Speed dynamically.

[Service]
Type=oneshot
ExecStart=/fans.sh

[Install]
WantedBy=multi-user.target
